{% extends 'base.html' %}
{% import "_macros.html" as macros %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}Flasky - Comment Moderate{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Comment Moderation</h1>
</div>
{#  使用 Jinja2 提供的 set 指令定义一个模板变量 moderate  #}
{% set moderate = True %}
{% include '_comments.html' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination,'.moderate') }}
</div>
{% endif %}
{% endblock %}
